body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("https://bit.ly/3bohdvQ");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

.container {
    background: rgba(42, 42, 42, 0.8);
    border: 2px solid rgb(227, 126, 84);
    margin: 300px;
    padding: 25px 0 75px 0;
}

.contact-title {
    margin-top: 100px;
    color: wheat;
    text-transform: uppercase;
    transition: all 3s ease-in-out;
}

.contact-title h1 {
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2 {
    font-size: 16px;
}

form {
    margin-top: 50px;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(227, 126, 84);
    color: white;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background: rgb(227, 126, 84);
    border-color: transparent;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: rgb(227, 126, 84);
    cursor: pointer;
}

placeholder {
    color: rgb(227, 126, 84);
}
